<div id="error" class="alert alert-error alert-block i18n" style="display:none">
    <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
    <h4 data-i18n="messages.error.title">Error</h4>
    <span data-i18n="messages.error.saveOrUpdate"></span>
    <ul></ul>
</div>

<div id="success" class="alert alert-success alert-block i18n" style="display:none">
    <h4 data-i18n="messages.success.title">Success</h4>
    <span data-i18n="messages.success.saveOrUpdate">The data was successfully updated</span>
</div>