<!-- toolbar begin -->
<div class="btn-toolbar pagination-toolbar i18n">
    
    <div class="btn-group">
        <a data-bind='click: addItem' class="btnadd btn" href="#" title="Add new data"><i class="icon-plus"></i> <span data-i18n="buttons.Add">Add</span></a>
        <a data-bind='click: updateItem' class="btnsave btn" href="#" title="Save added and modified data"><i class="icon-ok"></i> <span data-i18n="buttons.Save">Save</span></a>
        <a data-bind='click: removeItem' class="btndelete btn disabled" href="#" title="Select a row to remove"><i class="icon-remove"></i> <span data-i18n="buttons.Remove"></span></a>
    </div>
<!--
    <div class="btn-group">
        <a data-bind='click: refreshItems' class="btn" href="#" title="Refresh"><i class="icon-refresh"></i> <span data-i18n="buttons.Refresh"></span></a>
    </div>

    <div class="btn-group">
        <a class="btn" href="#myModal" data-toggle="modal" title="Filter"><i class="icon-filter"></i> <span data-i18n="buttons.Filter">Filter</span></a>
    </div>
-->
</div>
<!-- toolbar end -->

